*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
* h1{font-family:helvetica;font-size:3em;letter-spacing:.115em}
* p{padding-bottom:.02em}
* input{border-color:#000 2px;font-size:2em;margin-bottom:.5em}
* .content{width:50%;margin:0 auto;padding:1em;background-color:RGB(235,244,246);font-family:"minion-pro"}
* .paper{background-color:RGB(239,241,238);margin:2em;padding:3em;line-height:1.5em;min-height:40em}
