<!DOCTYPE html>
<html ng-app="loremKlosterman">
  <head>
    <title>Andrew's test</title>
  </head>
</html>
<body>
  <h1>
    Index Page
    
  </h1>
  <div ng-controller="Paragraphs">
    <input type="text" ng-model="number">
    <p ng-repeat="paragraph in text | newLineToArray track by $index">{{paragraph}}</p>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/lorem.js"></script>